<div class="container">
  <h1>Create a secure password</h1>
  <div class="field">
    <label>Length</label>
    <mat-slider
      min="3"
      max="40"
      step="1"
      value="10"
      (change)="onChangeLength($event)"
    ></mat-slider>
    <div>{{ length }}</div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input (change)="onChangeUseLetters()" type="checkbox" />
        Use Letters
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input (change)="onChangeUseNumbers()" type="checkbox" />
        Use Numbers
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input (change)="onChangeUseSymbols()" type="checkbox" />
        Use Symbols
      </label>
    </div>
  </div>

  <button
  mat-raised-button color="accent"
    [disabled]="
      !(length && (includeLetters || includeSymbols || includeNumbers))
    "
    (click)="onButtonClick()"
  >
    Generate
  </button>

  <div *ngIf="password">
    <label>Your Password</label>
    <input class="input" [value]="password" />
  </div>
</div>
