/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

html, body {
  min-height: 100%;
}

body {
  background-color: #b1ade2;
  background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Barlow', sans-serif;
}
